[user]
	email = zjw000107@gmail.com
	name = zjw
[safe]
	directory = /mnt/usb/dotfiles.git
[alias]
	st = status
	cm = commit -m
[color]
	ui = auto
; [http]
; 	proxy = http://127.0.0.1:20701
; [https]
; 	proxy = http://127.0.0.1:20701
